<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
   <% if @book.user_id == current_user.id %>
    <%= render 'books/list', book: @book %>
   <% else %>
    <div>
     <%= flash[:notice] %>
    </div>
    <h2>User info</h2>
    <image>
     <% if @book.user.profile_image.attached? %>
      <%= image_tag @book.user.profile_image, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %>
    </image>
    <table class="table">
     <tr>
      <td>name</td>
      <td><%= @book.user.name %></td>
     </tr>
     <tr>
      <td>introduction</td>
      <td><%= @book.user.introduction %></td>
     </tr>
    </table>
    <div class="row">
     <%= link_to(edit_user_path(@book.user.id),class:"btn btn-outline-secondary btn-block" )do %>
      <i class="fas fa-user-cog" aria-hidden="true"></i>
     <% end %>
    </div>
    <h2 class="mt-3">New book</h2>
    <% if @book.errors.any? %>
     <div id="error_explanation" data-turbo-cache="false">
      <h2>
       <%= I18n.t("errors.messages.not_saved",
                 count: @book.errors.count,
                 resource: @book.class.model_name.human.downcase)
        %>
      </h2>
      <ul>
       <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
      </ul>
     </div>
    <%= form_with model: Book.new do |f| %>
     <h4>Title</h4>
     <%= f.text_field :title %>
     <h4>Opinion</h4>
     <%= f.text_area :body %>
     <%= f.submit 'Create Book' %>
    <% end %>
    <% else %>
     <%= form_with model: Book.new do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
     <% end %>
    <% end %>
   <% end %>
  </div>
 <div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
   <tr>
    <td>
     <% if @book.user.profile_image.attached? %>
      <%= image_tag @book.user.profile_image, size: "80x80" %>
     <% else %>
      <%= image_tag 'no_image', size: "80x80" %>
     <% end %>
     <br><%= link_to @book.user.name, user_path(@book.user_id) %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>
     <% if @book.favorited_by?(current_user) %>

        <%= link_to book_favorites_path(@book), method: :delete, class:"text-danger" do %>
         <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
        <% end %>

     <% else %>

        <%= link_to book_favorites_path(@book), method: :post, class:"text-primary" do %>
         <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
       <% end %>

     <% end %>
    </td>
    <td>コメント数:<%= @book.book_comments.count %></td>
    <% if @book.user == current_user %>
     <td><%= link_to "Edit", edit_book_path, method: :get, class:'btn btn-success' %></td>
     <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" =>" 本当に消しますか？" ,class:'btn btn-danger' %></td>
    <% end %>
   </tr>
  </table>
  <% @book.book_comments.each do |book_comment| %>
   <table class="table">
    <tr>
     <td>
      <% if book_comment.user.profile_image.attached? %>
       <%= image_tag book_comment.user.profile_image, size: "80x80" %>
      <% else %>
       <%= image_tag 'no_image', size: "80x80" %>
      <% end %>
      <br><%= link_to book_comment.user.name, user_path(book_comment.user_id) %>
     </td>
     <td><%= book_comment.comment %></td>
     <% if book_comment.user == current_user %>
      <td><%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, "data-confirm" =>" 本当に消しますか？" ,class:'btn btn-danger' %></td>
     <% end %>
    </tr>
   </table>
  <% end %>
  <div>
     <%= form_with model: [@book, @book_comment] do |f| %>
      <%= f.text_area :comment %><br>
      <%= f.submit "送信" %>
     <% end %>
  </div>
  </div>
 </div>
</div>


